@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body, html {
    height: 1vh;
    margin: 0;
    padding: 0; 

    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
    }

    .card {
        background-image: url(../Assets/nuage.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 0 auto;

        #weatherForm {
            display: flex;
            justify-content: center;
            align-items: center;

            #cityInput {
                width: 50%;
                height: 40px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            #submitBtn {
                width: 20%;
                height: 40px;
                font-size: 16px;
                background-color: #FBD87F;
                color: #0f0e0e;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-family: 'Gloria Hallelujah', cursive;
                margin-bottom: 10px;
                margin-left: 5px;
            }

            #submitBtn:hover {
                background-color: #e4ce96;
            }
        }
    }

    img {
        height: 150px;
        width: 300px;
        border-radius: 20px;
    }

    #temperatureChartContainer {
        background-color: antiquewhite;
        opacity: 0.7;
        border-radius: 15px;
        width: 90%;
    }
}

